@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* LAYOUT */
  --max-width: 77.5rem; /* 1240px */

  /* COLORS */
  --accent: #92CACB; /* main */

  --complementary: #738ff7; /* main */

  --neutral-default: #22292A;
  --neutral-thin: #565656;
  --neutral-delicate: #E6E9EA;
  --neutral-luminous: #FDFDFD;
  --neutral-background: #EFFAFD;
  
  /* TYPOGRAPHY */
  --heading-font: "Poppins";
  --body-font: "Lato";
}


/* UTILS CLASSES */

/* layout */

.l-container {
  @apply px-4 lg:mx-auto w-full xl:px-0 max-w-[var(--max-width)]
}

/* theme  */

.heading-font {
  font-family: var(--heading-font);
  @apply leading-tight text-[var(--neutral-default)] dark:text-[var(--neutral-luminous)];
}

.body-font {
  font-family: var(--body-font);
  @apply leading-relaxed text-[var(--neutral-default)] dark:text-[var(--neutral-luminous)];
}

/* RESET STYLES */

body {
  font-family: var(--body-font);
  @apply leading-relaxed text-[var(--neutral-default)];
}

h1,
h2,
h3,
h4,
h5,
h6 {
 font-family: var(--heading-font);
 @apply leading-tight text-[var(--neutral-default)];
}